.userList,
.taskList {
    margin: auto 20px;
}

#users-table {
    width: 120%;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
}

thead td, tbody td {
    padding: 8px;
}

table,
th, td {
    border: 1px solid black;
}


thead,
td {
    padding: 10px;
    text-align: left;
}

thead {
    font-weight: bold;
}

.input-group {
    /* display: flex; */
    align-items: center;
}

.input-group button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
}

.input-group input[type="number"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20px;
    appearance: textfield;
}